[2018-05-09 22:57] samreid opened #1 "Create binder"

[2018-05-10 01:04] zepumph commented on #1
@samreid I never got your second commit, so I just went for it on my own. Notice that my file is not in the js dir, and I think it is named differently from yours. I recommend copying my contents into your file (change the path to perennial), and from there work to get the global content from the sim (that's your speciality) returned in the `resolve` call of the promise. Good luck!

[2018-05-10 03:29] samreid opened #2 "test issue"
# Checkbox
acid-base-solutions

<image src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF4AAAAaCAYAAAA+G+sUAAAHcUlEQVRoQ+2ZC0xcWRnHfzzLc2aYYWjLugt9GR8blzVqtImRqNG4UXeJGjVLbZtYY3XDVhNA3RTBkBZdXWBDXJYugm13u+6mW3Trq1bpJt2uz1glJlotz5bXvF93hjszd8yHBx0QGNhCVwk3Icxwzrnnnt/5n//33Y80Nq/XhEDaazLr5qRsgl8jEbSeO2cpMdveY8TjFVogNOycGP/TI1/83NWlbr8Jfg3Ad/34QsUddlt/UX6+JQG4AwEmpqa5OTLS1lTzhS8tNsUm+DUAf/byK8PlW0

[2018-05-10 19:27] #2 closed

[2018-05-10 19:31] samreid commented on #1
Initial commit is above, spanning several repos.  To use this, you will need to npm install the following npm modules:

* puppeteer
* marked

To run it,
[code]

Or you can specify a subset of sims to use:
[code]

This process also creates a JSON file binderjson.json which can be used to render the HTML directly (if you don't want to iterate through the sims again).

[code]

[2018-05-10 19:46] zepumph opened #3 "Create a package.json"
Right now we are using 'marked' and 'puppeteer' but it's not official yet.

[2018-05-10 21:08] zepumph commented on #1
@samreid I updated this, trying to simplify the code as much as possible. I added some logging and documentation, removed your 'console' based query parameter. The main thing I did was transfer the logic around getting the `InstanceRegistry.map` to a "loaded" `postMessage` from the console.log message. Otherwise I'm Liking what we are working toward.

Next steps/improvements
* It could be nice to

[2018-05-10 21:11] zepumph commented on #1
@samreid on windows, I get the following error when regenerating the html from the json:
[code]

[2018-05-11 23:34] samreid commented on #3
Added, tested, closing.

[2018-05-11 23:34] #3 closed

[2018-05-12 01:15] samreid opened #4 "Where should the component documentation be?"
As part of the component documentation, we plan to write MD (markdown) files that describe the corresponding JS (javascript) files. Binder will combine the MD files with automatically generated information to create the overall documentation.

When I recommended to put the MD files next to the JS files, I was told that there was a prior consensus to put the documentation files "elsewhere".  I don'

[2018-05-12 01:56] jonathanolson commented on #4
*.md in docs/ and images under the already-agreed docs/images (used for e.g. the area-model glossary) sounds nice, if that works?

[2018-05-12 01:57] samreid commented on #4
That sounds great, thanks!  I'll close the issue for now, but if anyone objects to docs/ feel free to reopen.

[2018-05-12 01:57] #4 closed

[2018-05-14 16:21] samreid opened #5 "Next steps for Style Guides and Binder"
This week @zepumph and I created an initial draft for Binder, which combines hand-written markdown documentation with automatically generated information about component usage.  The results are published on https://phetsims.github.io/binder/

Currently, we are only including information on Checkbox, ComboBox and HSlider, though it would be easy to add other components.

@amanda-phet the markdown f

[2018-05-14 16:23] samreid opened #6 "Add data about each component"
Related to #5, the style guide show this information which is not presented in the binder view at the moment:

Here is additional information from the Style Guide that we should add to the document:
* Number of published sims with component: [number]
* Sims with component (not necessarily published): [list of all sim repos]
* Published sims with component: [list of sim links]
* Published sims with

[2018-05-14 20:24] zepumph opened #7 "create modular structure"
Right now we have two files. One creates html for data, and the other generates the data, uses the first file, and then writes the documentation. I would rather have small modules that are responsible for each feature that we want with the style guide. Here is what I propose so far:

* generate.js - manager file for the whole script, will create an html documentation file, potentially responsible

[2018-05-15 17:03] zepumph opened #8 "run getFromSimInMaster in parallel"
We could open more than one page in puppeteer.

[2018-05-15 17:32] samreid commented on #8
It crossed my mind that parallel puppeteer may be significantly better than sequential aqua--maybe at some point we should redo aqua to use puppeteer?

[2018-05-15 17:46] zepumph commented on #8
With how easy it was to set up puppeteer, I would definitely be interested in pursuing that.

[2018-05-16 00:27] zepumph commented on #1
I think that the documentation has been created, and can be viewed https://phetsims.github.io/binder/.

Closing

[2018-05-16 00:29] zepumph commented on #7
The modular structure has mostly been worked out. I like that `generate.js` now controls each piece: getting data from the sim, passing that data into an html string creator, then writing that file.

I think this issue is ready for close.

[2018-05-16 00:29] #7 closed

[2018-05-16 00:30] zepumph commented on #6
In a meeting today, it was decided to let @mbarlow12 take over this repo, here seems to be the next step in terms of content generation. Let me know if there is anything else I can do.

[2018-05-16 00:32] zepumph commented on #5
Tagging @terracoda because she has it on her list to begin copying content from a google doc being worked on last week into these markdown files.

[2018-05-16 13:40] terracoda commented on #6
Also discussed at the meeting was the list of generated content. It looks very similar to what @samreid posted above, with a couple of additions. I have checked off the ones that I think are already working in the prototype that @samreid created.

Name: **ComboBox**
- [x] Repo: sun/js/ComboBox.js
- [x] Number of published sims with component: [number]
- [x] Sims with component (not necessarily pub

[2018-05-16 14:06] terracoda commented on #5
Thanks @zepumph, I am on it. I updated combox.md yesterday and committed that over in sun/docs.

[2018-05-16 19:53] zepumph opened #9 "Set up automatic github interfacing"
This is down the line, more of a long term goal, but wouldn't it be nice if there was a controller that would pull repos, and then run the generation, and push the updated documentation to github. That would help to automate these docs and keep them up to date.

[2018-05-16 19:55] zepumph opened #10 "Run on bayes"
This is down the line, more of a long term goal, but if this ran on bayes, perhaps a cron job that ran once a day, then the documentation would stay very up to date. Again, this is an enhancement or version 2.0 sort of feature in my book.

[2018-05-18 16:31] zepumph opened #11 "How to handle the same a11y documentation for different components"
From https://github.com/phetsims/sun/issues/361, I see a need for single a11y documentation (like interaction pattern and sample html) to document `AccessibleSlider.js`. But that file is mixed into many different common code types (and more to come).  Currently the way that binder is set up, we are generating documentation by component, because of the way that `InstanceRegistry` is set up.

I thin

[2018-05-18 17:39] samreid commented on #11
Maybe clearer to add AccessibleSlider.md, then have both HSlider and Faucet point to that?

[2018-05-18 17:49] zepumph commented on #11
From an implementation standpoint, that seems to me like we would have to (a) parse files to determine what mixins they use, or (b) somehow detect that during runtime. Both of those seem gross to me, do you have any other thoughts @samreid?

[2018-05-18 17:52] samreid commented on #11
The documentation HSlider.md would have a manually-written section that reads:

HSlider gets its accessibility features from AccessibleSlider.md (hyperlinked).  Here are some more specific things HSlider adds above and beyond that...

[2018-05-18 17:54] zepumph commented on #11
Well, when you put it that way, it seems really nice. Is there anything automated involving `AccessibleSlider.md`?

[2018-05-20 22:43] samreid opened #12 "(node:38752) UnhandledPromiseRejectionWarning: TypeError: Cannot convert undefined or null to object"
To see what other sims use ProbeNode for https://github.com/phetsims/wave-interference/issues/24, I instrumented ProbeNode and ran:

and received this error:
[code]

[2018-05-20 22:45] samreid commented on #12
When I subsequently ran

It worked OK

[2018-05-22 03:31] mbarlow12 commented on #12
We're returning a Promise that resolves to `undefined` when there's no InstanceRegistry in the sim. I refactored the code a bit so that the data is organized by component, and sims that don't have components don't appear.

It's still a bit messy, but it's working without error at this point. Also, I changed the localhost port to 8080.

[2018-05-22 11:35] terracoda commented on #11
@samreid, I like your idea of Accessible{InteractionName}}.md. I was thinking along the same lines, but in the reverse direction (links in the md file to the actual covered js components, or comments in the top of the js file).

I think this will work just fine from the accessible documentation side of things.

[2018-05-22 18:39] zepumph commented on #12
@samreid and I both use localhost off of port 80, is there a way that we can specify an option to the process that will indicate the port number? This is probably a different issue. For example, I know that @pixelzoom uses a completely different path for his server. This sounds like a nice thing to potentially add to a config file, maybe `build-local.json`?

[2018-05-22 19:32] zepumph commented on #11
That seems like a good first step. One possible improvement that we could do, would be to somehow mark the a11y links in the main markdown files, perhaps with templated vars on either side, and then load that a11y markdown into that spot in the main markdown.

Example

HSlider would look like:
[code]

Then on build that file get's put into the `Accessibility` section for `HSlider`, as well as any

[2018-05-22 19:38] terracoda commented on #11
@zepumph if you look at the RadioGroup.md file would you say that everything under
## Accessibility Considerations
down to the end would be in a separate MD file?

[2018-05-22 19:48] zepumph commented on #11
Very good question! Currently radio button groups have two PhET implementations:
* `RadioButtonGroup`: arbitrary nodes/images that have radio button functionality (like coil selection in FL)
* `VerticalAquaRadioButtonGroup`: Looks like html radio buttons stacked on each other.

Currently their implementation is different in terms of a11y, and there is no talk of separating out that functionality i

[2018-05-22 23:41] mbarlow12 commented on #12
@zepumph great suggestion—I'll make an issue.

[2018-05-23 00:01] mbarlow12 opened #13 "Add build-local.json check for local development"
We've hardcoded the address of a local development. @zepumph noted in https://github.com/phetsims/binder/issues/12 that this should be configurable for different environments. To allow for this, we'll add a check in `~/.phet/build-local.json` for the following keys:
[code]

Since node's `http-server` runs the server configured above, those will be the defaults.

- [x] Add `build-local.json` check

[2018-05-23 00:07] zepumph commented on #13
I would also recommending loud asserts if those keys are not present when running.

[2018-05-24 04:56] mbarlow12 commented on #13
All that's left for this is to update the documentation. To generate the docs, `binder` looks in `build-local.json` for the following:
[code]
It uses https://github.com/phetsims/perennial/blob/master/js/common/buildLocal.js to access the local configuration, so the getters have been added.

[2018-05-24 16:23] mbarlow12 commented on #9
I think that we could utilize git's post-update hooks. Github also has some features I was investigating for this kind of automated workflow last semester.  For GitHub, I believe https://developer.github.com/webhooks/ could likely help with this.

[2018-05-24 17:15] jonathanolson commented on #13
I'm not sure why the URL and port are separated, since the port could be part of the URL. How do you plan to handle `http://localhost:8080/something/`? It seems like it would be easier (and fixes this issue) to have it be part of one URL.

[2018-05-24 17:31] mbarlow12 opened #14 "Add fast html compile option from generated json instead of sim instance registry"
Since we generate a json doc anyway when accessing the sims, a quick way to regenerate the html file will be very useful. Perhaps a new npm/grunt task?

[2018-05-24 17:42] mbarlow12 commented on #13
@jonathanolson That's true—I think that'd be a worthwhile change. It's just been a habit for a long time to separate the port.

[2018-05-24 18:20] pixelzoom commented on #13
FYI, I'm using port 80 because it's the default for Apache on macOS.  It can be configured in /etc/apache2/httpd.conf.

[2018-05-24 19:40] samreid commented on #14
If I'm understanding you correctly, binder used to do that.  @zepumph can you comment?

[2018-05-24 19:42] zepumph commented on #14
Yes indeed! In the readme there are steps to do just this:
[code]
But that is pretty sloppy, and I agree could use some scaffolding. @mbarlow12 I would recommend looking at the logic behind `binderjson.json` and going from there.

[2018-05-24 20:50] jessegreenberg commented on #11
I agree, less straight forward to use mixin pattern here because instrumentation is required on the button group and the individual buttons. But we could look into it, depends on implementation of `RadioButtonGroup` and `VerticalAquaRadioButtonGroup`.

I agree. Would be a good way to refactor documentation, but difficult step to remember. Maybe we should add a step to the common code review checkl

[2018-05-24 22:39] mbarlow12 commented on #14
I had intended to just clean up the existing implementation and add make the command to generate it a little cleaner—maybe something like `npm run build-from-json` that would generate the docs/index.html and compile any necessary css/js assets that we add in the future.

[2018-05-24 22:49] mbarlow12 commented on #13
@pixelzoom do you see problems arising from using a single key in build-local.json for both the host and port?

[2018-05-24 23:32] zepumph commented on #11
I'm not sure what's best. I don't want to add a big step in an already large checklist before we really know what the best workflow is, because we are still figuring it out.

@terracoda, here is a draft about the protocol with documenting these a11y interactions in the style guide `md` files:

1. If there is an abstracted `js` file for the a11y interaction (like `AccessibleNumberTweaker.js`):

[2018-05-25 00:12] zepumph commented on #14
Do you think that this could benefit from using grunt, so far this is two separate tasks, and we may way option support for both of them. In the installer builder, it started out as just one task, and so I thought grunt was a bit overkill, but I sorta wish I had gone that direction because I then had to add my own parsing and support (help/etc) for 10+ options.

One question about that is if you c

[2018-05-25 02:26] pixelzoom commented on #13
I've been out of the loop wrt binder, so much so that I have no idea why a host and port are even needed.   Try it and see?

[2018-05-25 13:49] samreid commented on #11
Sounds great, but can you please provide an example of

[2018-05-25 16:40] jessegreenberg commented on #11
https://github.com/phetsims/binder/issues/11#issuecomment-391896956 sounds great @zepumph.

[2018-05-25 18:00] zepumph commented on #11
https://github.com/phetsims/sun/blob/master/docs/accessibility/AccessibleSlider.md

[2018-05-25 18:32] samreid commented on #11
Is that superior to https://phetsims.github.io/binder/accessibility/AccessibleSlider.md ?

[2018-05-25 18:40] zepumph commented on #11
It is easier. as the link doesn't have to be processed on build to point to binder's version (and binder has to copy it over on build too).

@samreid your link seems like a nice step 2 improvement.

Step 3 to me would be to load that markdown, and the parse it with the `marked` library we are using, into HTML, and then add it directly to the style guide. I was laying out what I thought of as the s

[2018-05-29 13:27] terracoda commented on #11
@zepumph, I think this is sounding ok. The heading hierarchy of the content in the md files is important, so I agree if an md file is part of some other documentation, I (or the writer) will need to make sure the heading hierarchy remains consistent.

[2018-05-29 13:43] terracoda commented on #11
@zepumph and @samreid, I just came across something a little different for the Accordion Box pattern. There are two js components that are used to create the full experience:
- ExpandCollapseBar.js - this seems to be an Accordion Header (the functional title bar if you will)
- AccordionBox.js - this seems to the be an Accordion Panel (the content that is hidden or revealed by the associated Accord

[2018-05-29 15:44] samreid commented on #11
Assuming for the moment that AccordionBox used ExpandCollapseBar, we should still have `ExpandCollapseBar.md` and `AccordionBox.md`.  In that case you would document it by saying "AccordionBox uses a ExpandCollapseBar to show the title", with a hyperlink to ExpandCollapseBar.  Then if other clients just use the ExpandCollapseBar, without using AccordionBox, the documentation would still be accurat

[2018-05-29 16:26] zepumph opened #15 "Subcomponents need a way to opt out of registering of their Parent component "covers" them"
Example came up in keyboard nav meeting today. `AccordionBox` uses `ExpandCollapseButton`, and the custom html for `AccordionBox` (that includes `ECButton` in the PDOM is potentially different from the interaction pattern of `ExpandCollapseButton` itself. How should think look in the style guide?

@terracoda is this summing up what you were wondering about during the meeting?

Notes:
1. @emily-phe

[2018-05-29 18:17] zepumph opened #16 "PhET doesn't checkin pack-lock files"
@mbarlow12 right now, PhET devs have turned off the use of package-lock files in npm, and we aren't checking these in. I don't think that binder should be treated any differently. See https://github.com/phetsims/chipper/issues/578#issuecomment-305893183 for the central issue and steps to turn off package-lock creation for your environment.

[2018-05-31 15:12] #16 closed

[2018-05-31 15:42] terracoda commented on #11
I can link to the PhET components in the docs. Perhaps there should be a section near the top listing what components are covered by the documentation.

[2018-05-31 16:13] mbarlow12 commented on #6
In Tuesday a11y meeting, it was noted that having issues that correspond to each of the common components might be useful. Each of the items below will need to present the info outlined in https://github.com/phetsims/binder/issues/6#issuecomment-389522083.

Some of these components will not make it into the style guide, and we're free to remove them from this issue as that becomes apparent.

Gener

[2018-05-31 16:19] mbarlow12 commented on #6
Further notes:
- when a `View` type is present, do we include both the button and its associated view or select one or the other?
- if the info presented is more inclusive than just accessibility, should we include the nodes in [scenery/js/nodes](https://github.com/phetsims/scenery/tree/master/js/nodes)?

[2018-05-31 16:28] terracoda commented on #6
@mbarlow12, re https://github.com/phetsims/binder/issues/6#issuecomment-393586211, @zepumph had made a much shorter (perhaps more realistic list).

Also, md files are in sun, so I thought the issues for MD files would be created there. Perhaps this list is for other purposes?

There are 2 issues related to Radio Button Group (https://github.com/phetsims/sun/issues/364 and https://github.com/phetsi

[2018-05-31 16:45] mbarlow12 opened #17 "Host docs from gh-pages branch"
Trouble found from the changes in https://github.com/phetsims/tasks/issues/936. GitHub mandates that pages use a`docs/` directory. So for binder, we'll follow the method of scenery and use a new gh-pages branch to properly host the generated HTML.

[2018-05-31 16:57] zepumph commented on #17
Why couldn't we just use all of master? Then the style guide can be found on at `binder/doc/`

![image](https://user-images.githubusercontent.com/6856943/40796165-a45f9a4e-64b0-11e8-8f0a-e5712abe297e.png)

[2018-05-31 16:58] zepumph commented on #17
I worry about putting it on a branch, because that would be one more step to keep it up to date with master. I defer to your judgement.

[2018-05-31 22:43] mbarlow12 commented on #17
The issue there is that the root directory is the root of the repo, so it defaults to displaying the README located there. It may be possible to replace that file with the generated index.html and link to any necessary resources from the root.

One other option would be to create a `documentation` or`docs` repo that would act as the public face of all PhET documentation. Binder would then be respo

[2018-05-31 23:13] zepumph commented on #17
Or we could just keep the name `docs/` seeing as it is obviously nicer to have it that way, and we can document why this is different from every other docish folder in the project.

[2018-05-31 23:28] mbarlow12 commented on #6
@terracoda I wanted to make an exhaustive list, and I noted in my comment

So I do not anticipate the list to remain this length (I already remove 2 since this AM).

We can always link issues in commits and comments, and I agree that the issues associated with specific files/components should live in their respective directories. My hope was to have a central location to quickly track progress...a

[2018-05-31 23:31] terracoda commented on #6
Ok, sounds great.

[2018-06-01 00:15] mbarlow12 commented on #11
@zepumph This seems like a good way to move forward for now. It will also be useful to find a way to automatically generate some kind of flag or reference when these cases arise

[2018-06-01 00:18] zepumph commented on #11
Right, like a templating var perhaps

[2018-06-01 00:18] zepumph commented on #11
Let me know if you need any more help.

[2018-06-01 00:49] mbarlow12 commented on #15
Perhaps ExpandCollapseButton isn't be best example as it probably should be inheriting from another button (there's even a comment in its file and an [issue](https://github.com/phetsims/sun/issues/105) to convert it to a subtype of one of the sun/buttons/). My general thought is that if component x has a certain set of interactions, and a parent component uses it and drastically changes those inte

[2018-06-01 00:54] mbarlow12 commented on #12
Standard generation is no longer throwing exceptions. Closing.

[2018-06-01 00:55] #12 closed

[2018-06-01 01:05] mbarlow12 commented on #8
One big issue I'm running into is resource management. Generating a page per sim asynchronously works well when the number of sims is short; however, when trying to run through all sims, the same code performs terribly.

My first thought is to chunk the sims into manageable sizes. So puppeteer would only have ~10 pages active at a time and process each asynchronously then move on to the next.

Ano

[2018-06-01 15:05] zepumph commented on #8
I thought the demo sim just has one example of it, and some components have dynamic controls to adjust some options.

I agree they are all mostly identical. Maybe there is a way to minimize this part of the documentation since it is by far the largest section of content for each component, but it isn't proportionally that important. I think it will still be good to see how different sims use the s

[2018-06-01 15:29] mbarlow12 commented on #17
True—I also realize that there's a grunt task for updating the gh pages branches in all sims. Perhaps @jonathanolson would have an opinion on integrating binder with that task and building all documentation into a single place?

[2018-06-01 15:31] mbarlow12 commented on #17
@zepumph I also agree that in binder, the doc/ directory isn't actually documenting anything in the repo whereas sun's doc/ folder actually contains details on sun components implementation.

[2018-06-01 16:12] mbarlow12 commented on #8
When I was looking through the sun demo, the number spinner presents several different appearance options. I realize that most of the components only present a single version, but I don't see why we couldn't simply add more to the demo where necessary.

Another thought on a file system approach for which sims use which components is that it could run in parallel to the instance image fetching.

[2018-06-01 19:49] zepumph commented on #17
@ariel-phet gave me the go ahead to rename all to `doc/`, so I would ask him if you want to keep binder `docs/` to make hosted github pages easier for the style guide.

[2018-06-01 19:53] zepumph commented on #8
If we are just worried about time, we could work to make sim loads on pupeteer. We are currently using a `  for ( let sim of sims ) {` loop to load each sim one after another, which is sync for each sim. So slow!!! Instead why not explore having multiple (a) browser instances (like `  const browser = await puppeteer.launch();`) (b) tabs?, (c) pages at the same time to load sims in parallel.

Sorry

[2018-06-04 17:47] jonathanolson commented on #17
That would definitely be doable. I haven't run that task recently, and I'd need to check it a bit before having it "ready" to be used for other things.

[2018-06-06 18:10] mbarlow12 opened #18 "branch: async"
The branch is for implementing asynchronous building of the sim and using ES6 features.

[2018-06-11 22:07] mbarlow12 commented on #17
I actually think this will be really easy, especially if we integrate it with some kind of a build step. Essentially, we checkout only the gh-pages branch from within the `doc/` directory and delete the refs to all other branches.

Then we compile/create the assets and push. In this way, we can also name the directory whatever we want. `doc/` can be retained for housing the documentation `.md` fil

[2018-06-11 22:09] mbarlow12 commented on #14
As of now, this is implemented with an npm task. In the top level of `binder`, simply run `npm run build-json` to regenerate the html and pull markdown from the various sim `doc/` directories.

[2018-06-19 16:19] zepumph commented on #11
In this morning's a11y meeting, we decided that for right now, we will treat `VerticalAquaRadioButtonGroup.js` and `RadioButtonGroup.js` as the same, without different md files for accessibility. Do I have that correct?

[2018-06-19 16:47] mbarlow12 commented on #15
From the a11y discussion today, I think it may be useful to handle this in the md files. There are libraries for parsing 'front matter', which is YAML syntax delimited within a md file by three dashes `---`. Parsing into a json object is rather straightforward. See https://github.com/phetsims/binder/issues/15.

In this way, we could register a `children` tag that would notify the binder js that co

[2018-06-19 16:54] zepumph opened #19 "Sidebar links don't add a fragment hash"
When you click an item in the sidebar, the webpage navigates to the desired component very nicely. It could be nice though to have the url fragment update with that change too.

This is a small issue, but I believe that it may be useful when trying to share this resource for an individual component.

What do you think @mbarlow12?

[2018-06-19 16:55] mbarlow12 commented on #15
Here's an example for radio buttons:

[code]

[2018-06-19 17:03] mbarlow12 commented on #19
I was thinking the same thing. Now that we're digging into this a little more, I can add this in pretty easily.

[2018-06-19 19:02] zepumph commented on #15
That seems so cool! Would the binder build process just support YAML? Or would devs need to do an extra download to support the language?

Tagging @samreid because he too may have thoughts.

[2018-06-19 19:03] terracoda commented on #15
@mbarlow12, I like this solution @mbarlow12, if YAML is support.

[2018-06-19 19:08] samreid commented on #15
I don't know enough about the problem or proposed solution.  I was imagining that (for example) `VerticalAquaRadioButtonGroup.md` and would have a link like:

Not sure whether that would work or how the proposed solution differs.  I'm not sure I see the advantage of introducing a different language here.

[2018-06-19 21:15] mbarlow12 commented on #15
@zepumph @samreid As far as I know, YAML doesn't require language support, and binder would handle parsing it on its own with the help of the `gray-matter` library linked above.  The conventions are that the initial YAML is ALWAYS first and enclosed within `---` characters; it's then parsed into JSON.

The main contents outside the YAML section appear to be returned within a `content` key, so I'm

[2018-06-19 21:25] mbarlow12 opened #20 "branch: yamldocs"
Proposed in https://github.com/phetsims/binder/issues/15, the binder branch will handle parsing of YAML front matter within the build process. We'll make use of https://github.com/jonschlinkert/gray-matter.

[2018-06-19 22:24] mbarlow12 opened #21 "Add YAML front matter to documentation"
YAML front matter is a feature used by [Jekyll](https://jekyllrb.com/docs/frontmatter/) and other static site generators to add metadata to simple .md or html files. In building the binder documentation, this may allow us to effectively register various common code components for display within a single or multiple markdown documents.

Using a library such as [gray matter](https://github.com/jonsc

[2018-06-20 15:20] samreid commented on #15
But it means anyone developing/maintaining binder would need to be able to use YAML properly and the conventions for how to use it in this context.

Why not use JSON?

Why would we want to combine several components into a single MD file?  Why not have VerticalAquaRadioButtonGroup.md say "This uses the patterns described in RadioButtons.md" and have a link to RadioButtons.md?  That approach seems

[2018-06-20 17:34] jessegreenberg commented on #15
In the meeting yesterday we discussed that the experience and UI for binder may be better if we collect common content into single files like in https://github.com/phetsims/binder/issues/15#issuecomment-398470126. But we also mentioned that this adds complexity and manual work because now the structure needs to be designed and we will have to come up with values for `entries`, `title`, `children`

[2018-06-21 15:47] mbarlow12 commented on #15
@samreid I misspoke, it's not parsed to JSON but into an object with `data` and `content` keys. The first holds the value(s) outlined in the YAML section, and the latter is the raw markdown that can then be transformeed into HTML.

The main advantage I see is to allow for more thematic organization of the components that we can configure. There's currently no way that we can group VerticalAquaRadi

[2018-07-13 16:41] pixelzoom commented on #1
@samreid FYI, query parameters are (by convention) listed in alphabetical order in initialize-globals.js.  I've relocated `binder` in the above commit.

[2018-07-13 16:43] pixelzoom commented on #1
We agreed in a recent dev meeting to indicate whether query parameters are public facing or for internal use only. Please indicate for binder.

[2018-07-13 16:57] samreid commented on #1
Thanks for letting me know about the alphabetization.  I assigned to @mbarlow12 for documenting it.

[2018-07-27 16:38] mbarlow12 commented on #20
Branch merged into master. See 596ba4f32a0ccef684c04e926f088407cfefbcb9.

[2018-07-27 22:45] zepumph commented on #15
Unassigning, let me know if you need anything else from me.

[2018-08-09 03:38] ariel-phet commented on #11
Removing @samreid assignment for now

[2018-08-09 15:10] mbarlow12 commented on #1
Updated the param doc in `initialize-globals.js`. Closing.

[2018-08-09 15:10] #1 closed

[2018-08-23 17:28] mbarlow12 commented on #13
README updated. Closing.

[2018-08-23 17:28] #13 closed

[2018-08-23 18:08] #21 closed

[2018-08-23 18:13] #17 closed

[2018-08-23 19:35] #14 closed

[2018-09-06 23:31] zepumph opened #22 "HSlider documentation should be renamed to Slider"
From https://github.com/phetsims/sun/issues/380, now the logic is in the `Slider` file, with `HSlider` and `VSlider` as convenience types. The documentation should reflect that and just say "Slider"

[2018-09-06 23:34] zepumph commented on #22
@mbarlow12 can you make sure that the above commit is all that needs to be done? Does anything need to be rebuilt? I'm really out of touch with this repo these days, can you take over or assign to the best person for the job?

[2018-09-06 23:55] mbarlow12 commented on #22
@zepumph yes, that's the only place where info specific to our components needs to be changed. `binder` just stitches that with the `InstanceRegistry` data. Feel free to close.

[2018-09-07 00:46] #22 closed

[2018-10-15 02:19] pixelzoom opened #23 "pattern for stripping binder documentation"
I see 12 occurrence of

`assert && phet.chipper.queryParameters.binder` ...

For example, in Slider.js:

[code]

Using `assert` in this way (to strip out things other than `assert`) seems a bit questionable.    Labeling for discussion at developer meeting.

[2018-10-25 01:31] zepumph commented on #23
Is the goal is hiding behind `assert` to make sure it only runs in development mode?

[2018-10-25 01:53] pixelzoom commented on #23
Based on comment "...stripped out in builds and only runs when ?binder is specified", that appears to be the goal.

[2018-11-01 16:35] jonathanolson commented on #23
If it helps, it's possible to override other globals as `false` during the uglify step, so that simplification will strip things out of builds.

[2018-11-29 20:07] pixelzoom commented on #23
11/29/18:

@samreid options: (1) get rid of `assert &&` and get a few more chars in the html file, or (2) create a new flag like 'isRequirejsMode`.

@zepumph create a lint rule to allow only `assert && assert`, not `assert && somethingElse`. This would prevent putting `assert &&` before a block of assertions, or `assert && Object.freeze`.

@mbarlow12 Not sure what direction binder is going to go i

[2019-07-03 17:10] arouinfar opened #24 "Redundant/broken list of sims under "Simulations and their components""
Related to https://github.com/phetsims/tasks/issues/980#issuecomment-507938420

Under http://phettest.colorado.edu/binder/doc/#sims, there are two lists of simulations. The list at the bottom which binder autoscrolls to when clicking "Simulations and their components' in the sidebar is not functional.

[2019-07-03 17:22] arouinfar opened #25 "Add inverse component/sim lookup"
In https://github.com/phetsims/tasks/issues/980#issuecomment-507938420 @zepumph added a list of sims with an expandable menu listing the common code components used within it.

![image](https://user-images.githubusercontent.com/8419308/60611441-88a06380-9d83-11e9-8c63-19d19fd9428e.png)

It would be extremely helpful to also have the inverse of this list. That is, add a list of common components wi

[2019-07-11 22:24] zepumph commented on #24
The above fixes this bug. There is now only one list. I also renamed the nav section to be "Components by sim". Closing

[2019-07-11 22:24] #24 closed

[2019-07-11 22:24] zepumph commented on #24
See http://phettest.colorado.edu/binder/doc

[2019-07-11 22:45] zepumph commented on #25
This is now implemented, though still not pretty. @arouinfar please review.

http://phettest.colorado.edu/binder/doc/

[2019-07-11 22:48] zepumph opened #26 "Make things pretty"
Today is dev meeting (relating to https://github.com/phetsims/tasks/issues/980), it was mentioned that perhaps it would be good to get @chrisklus, the front-end whiz, in on this repo to help out making UI improvements. I'm not exactly sure what this will look like, but I'm making an issue to begin the discussion.

@chrisklus perhaps you just want to go for it, or start working with a designer. Or

[2019-07-11 22:48] zepumph commented on #26
Let me know what you would like to do.

[2019-07-12 19:02] chrisklus commented on #26
Thanks @zepumph. From dev meeting yesterday, @ariel-phet recommended I take a first pass and then work with a designer to make improvements. Perhaps you could give me a tour, and if I feel comfortable enough, I can go ahead and dive in.

[2019-07-12 19:16] zepumph commented on #26
Sure thing. Let me know when you want a tour!

[2019-07-12 23:18] arouinfar commented on #25
Thanks @zepumph! The reverse look up seems to be working well! After some cursory testing, it looks like the components-by-sim and sims-by-components are being properly populated.

One thing I realize in seeing the sims-by-component is that we're missing a LOT of common code components from this list, so I'll open a separate issue for a UI component wishlist.

[2019-07-12 23:18] #25 closed

[2019-07-12 23:36] arouinfar opened #27 "Wishlist of common components to add to lookup"
In reviewing #25 I realized that there are many common UI components which are missing from the components-by-sim and sim-by-components lists in binder. Currently, it looks like the only components included are the ones which have associated .md files in the style guide.

![image](https://user-images.githubusercontent.com/8419308/61163124-79c75880-a4c9-11e9-8144-17c030521239.png)

I took a look ar

[2019-07-15 21:52] chrisklus commented on #26
@zepumph gave me a very nice tour, so i'm feeling up to speed on how the front end is set up. Since it's using Handlebars and Bootstrap, I proposed porting this to React (the new website is in React)
to @ariel-phet, and he is in favor of this change.

For starters, I'm going to get a React environment working and then port and style the "Components by Sim" and "Sim by Components" pages that @zepum

[2019-07-18 18:14] chrisklus commented on #26
React has been difficult to get working with CDNs, and @mattpen thinks it will be messy to continue down this path. I was hoping this would work because anyone could load a live version of binder locally just like a sim, without any additional steps.

Instead, we could run it locally with npm. From slack:

Matt Pennington 10:39 AM
create-react-app might work, as once everything is set up it should

[2019-07-18 19:06] samreid commented on #26
After developer meeting discussion, we discussed using a compile step instead of having that done inline in the browser via script type=text/babel.  That seems pretty standard and would allow us to build the site.  If in the future we figure how to get rid of the build step, the code maybe wouldn't need to change too much.  We can also use filesystem watchers, to automatically compile on code chan

[2019-07-18 22:38] zepumph commented on #27
* Do you want to know the difference between V/HSlider? Right now there is one entry for Slider, which covers both.

[2019-07-18 22:45] arouinfar commented on #27
@zepumph I'm not sure that a general Slider is the most helpful, since it's a fairly ubiquitous UI component. I think it's probably more helpful to distinguish between HSlider and VSlider, because a designer is likely looking for a more specific example.

[2019-07-18 22:49] zepumph commented on #27
what about the use of Slider in NumberControl? Right now there is no way that would be differentiated.

[2019-07-18 22:56] arouinfar commented on #27
My wishlist included an entry for scenery-phet/NumberControl and scenery-phet/SpectrumSlider, so I don't think we'd be leaving any slider-like things out in the cold. I wouldn't oppose having a catch-all Slider entry, but it doesn't seem like the most useful component filter by.

[2019-07-19 00:02] zepumph commented on #27
All of the above have been added, and Slider was removed. Perhaps Slider should actually be readed since there is a Slider.md

No matter, here is the updated binder doc: http://phettest.colorado.edu/binder/doc/

What do you think?

[2019-09-30 18:57] zepumph commented on #23
Note that there are now 57 usages of this pattern.

[2019-12-30 18:39] chrisklus opened #28 "binder TODOs"
There are 4 TODOs in binder without an associated issue. All four are either pointing out recommended improvements or possible weaknesses, so I'm linking them here to be tracked.

With the transition of binder to be built with react in https://github.com/phetsims/binder/issues/26, I'm not sure how many of these will still be relevant and need or work or be replaced/not needed. Leaving unassigned u

[2020-01-30 23:14] zepumph opened #29 "github pages should use /docs/ from master"

[2020-01-30 23:21] zepumph commented on #29
Implemented, this now means that we can host the style guide from master, instead of from the gh-pages branch. Binder is documentation is computed every night in `daily-grunt-work.sh`.

https://phetsims.github.io/binder/ now is updated every night.

[2020-01-30 23:21] #29 closed

[2020-07-07 13:26] terracoda commented on #27
We have an A11y implementation pattern for Time Control now (see MAL). Should we have time to document this pattern, what repo would it go in? Should it go in scenery-phet?

[2020-07-07 13:31] terracoda commented on #27
We also have a new A11y Design pattern for the On/Off switch for MAL that would benefit from some documentation. Would an issue for the On/Off switch go in the sun repo?

[2020-07-07 18:16] zepumph commented on #27
The On off switch for MAL is a `BooleanRoundStickyToggleButton`. That lives in sun. Likely the a11y of design pattern relates to other toggle-like components (ABSwitch/ToggleSwitch?). Note I also see ToggleButtons.md in sun/doc. This seems to just be blank scaffolding the MB made when creating binder. ToggleButtons.md is already rendered in the binder doc.

`TimeControlNode` lives in scenery-phet,

[2020-07-07 18:21] zepumph commented on #23
I think that the way forward would be a new global that is set to false when building code, so that the optimizer strips this out. I think that a general thing, like "isUnbuilt" seems better that something specific like "usingBinder." This way we only need to touch the build process to support this once. I will add this to my plate at a low priority.

[2020-07-07 18:22] zepumph commented on #10
This is now run daily on a cronjob on bayes. This occurs as part of daily-grunt-work.sh. Closing

[2020-07-07 18:22] #10 closed

[2020-07-07 18:42] zepumph commented on #27
Please ignore https://github.com/phetsims/ratio-and-proportion/commit/f88aabbdfa23dba008054811de2520f6743ed9b0, it was an incorrect git commit message.

[2021-05-10 22:20] chrisklus commented on #20
this branch should be re-deleted as part of https://github.com/phetsims/special-ops/issues/198

[2021-05-10 23:05] chrisklus commented on #20
branch re-deleted, closing

[2021-05-10 23:05] #20 closed

[2022-07-07 16:23] zepumph opened #30 "Binder is broken and not built every night"
Looks like it needs to get transpiled before running. I'll add this to daily grunt work.

[2022-07-07 16:24] #30 closed

[2022-08-01 14:54] terracoda commented on #5
Just an update to this issue.
When designing the Description Design Course, I created 2 extensive tip sheets that document the interaction design patterns for all the interactions we have made accessible in our inclusive design work. Here are the 2 tip sheets for reference:
- [Tip Sheet - Design Patterns for Single- & Two-State Interactions](https://docs.google.com/document/d/1Oc32zLgdPDCMQmcff82h

[2022-08-01 15:21] terracoda commented on #11
The examples and design patterns in these 2 tip sheets that I created for the Description Design Course (2022) may be an example of a more general alternative, rather than doing this PhET component by PhET component.

- [Tip Sheet - Design Patterns for Single- & Two-State Interactions](url)

[2022-08-01 15:37] terracoda commented on #11
Un-assigning myself from this issue until we have time to discuss this further.

[2022-08-01 15:49] terracoda commented on #15
Can we simplify by just referring to interactions as:
- Single-State Interactions
- Two-State Interactions
- Multi-State Interactions
- Grouped Interactions
- Customized Interactions

The following two tip sheets that I created for the Description Design Course use these categories to group Interaction Types.
- [Tip Sheet - Design Patterns for Multi-State & Customized Interactions](https://docs.go

[2022-08-01 15:50] terracoda commented on #15
Unassigning myself until we work are able to actively work on binder issues.